span.button_close:before, span.button_close:after {
    position: absolute;
    width: 23px;
    height: 3px;
    top: 6px;
    background: #c4c4c4;
    transform: rotate(45deg);
    content: '';
    right: 0;
}

span.button_close:after {
    transform: rotate(-45deg);
}

span.button_close {
    position: relative;
    float: right;
    width: 19px;
    height: 15px;
    cursor: pointer;
}

form.busy:after {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    left: 0;
}
